<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .main{
        height: 100vh;
        width: 100vw;
        background-color: aqua;
    }
    .box{
        height: 30vh;
        width: 30vh;
        background-color: black;
    }
    .box img{
        height: 70%;
        width: 100%;
        object-fit: contain;
    }
    .content{
        height: 30%;
        width: 100%;
        background-color:bisque;
    }
</style>
<body>
    <div class="main">
        <div class="box">
            <div class="img">
                <img src="" alt="pic">
            </div>
            <div class="content">
                <p>hello</p>
            </div>
        </div>
    </div>
</body>
</html>